@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.login {
    position: fixed;
    top: 10vh;
    left: 35%;
    right: 35%;
    font-family: 'Quicksand', sans-serif;
    background: white;
    display: flex;   
    justify-content: center;
    align-items: center;
    padding: 4em 3em;
    border-radius: .5em;
    transform: translateY(-120%);
    transition: .35s;
    z-index: 3;
    .login-content{
        img {
            width: 40px;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            &:hover {
                background: gainsboro;
                border-radius: 50%;
            }
        }
        h3 {
            margin: 0 0 1.7em 0;
            font-size: 1.5em;
        }

        form {
            display: flex;
            flex-direction: column;
            label {
                margin-bottom: .3em;
            }
            
            input {
                margin-bottom: 1.5em;
                padding: .5em;
                width: 250px;
                height: 30px;
                background: ghostwhite;
                border: none;
                border-radius: .3em;
                font-size: 1.05em;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background: gainsboro;
                }             
                &:valid {
                    outline: 2px solid green;
                }
                
            }
            a {
                margin-bottom: 1.3em;
                color: gray;
                cursor: pointer;
                text-decoration: underline;
                &:hover {
                    color: black;
                }
            }

            button {
                width: 120px;
                color: rgb(110, 110, 110);
                font-size: .9em;
                font-family: 'Quicksand', sans-serif;
                background: yellowgreen;
                border: none;
                padding: .8em;
                margin-top: 1.7em;             
                border-radius: .5em;
                cursor: pointer;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

.login-move {
    transform: translateY(0);
    opacity: 1;
}

@media only screen and (max-width:1200px) {
    .login {
        left: 20%;
        right: 20%;
    }
}

@media only screen and (max-width:700px) {
    .login {
        left: 10%;
        right: 10%;
    }
}
