@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap');
:root {
    --bg:rgb(23,23,23)
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
}   


.header {
    position: fixed;
    background: var(--bg);
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    .header-content {      
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        .header-front {
            display: flex;
            align-items: center;
            label{
                display: flex;  
                box-sizing: border-box;    
                      
                img {
                    width: 22px;
                    background: white;
                    border-radius: 5em 0 0 5em;
                    padding: 10px 6px 8px 10px;
                }
                input {
                    width: 200px;
                    box-sizing: border-box; 
                    border: none;
                    border-radius: 0 5em 5em 0;
                    padding-bottom:2px;
                    font-size: 19px;
                    font-family: 'Noto Sans TC', sans-serif;
                    background: white;
                    /*font-weight: lighter;*/
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .header-mid {
            ul {              
                padding: 0;
                display: flex;
                li {
                    position: relative;
                    list-style-type: none;
                    margin:0 4px;
                    a {                       
                        font-size: 1.1em;
                        font-weight: bold;
                        color: black;
                        text-decoration: none;
                        padding:0 30px;
                    }
                    .mid-1 {
                        color: white;
                        &::before {
                            content: '';
                            position: absolute;                       
                            height: 4px;
                            left: 0;
                            width: 0;
                            bottom: -16px;
                            background: white;                                                      
                            transition: .3s;
                            z-index: -2;
                        }                        
                        &:hover::before {
                            width: 108px;                                             
                        }                 
                    }
                    .mid-2 {
                        color: white;
                        &::before {
                            content: '';
                            position: absolute;                       
                            height: 4px;
                            left: 0;
                            width: 0;
                            bottom: -16px;
                            background: white;                                                      
                            transition: .3s;
                            z-index: -2;
                        }
                        
                        &:hover::before {
                            width: 95px;                                             
                        }                 
                    }
                    .mid-3 {
                        color: white;
                        &::before {
                            content: '';
                            position: absolute;                       
                            height: 4px;
                            left: 0;
                            width: 0;
                            bottom: -16px;
                            background: white;                                    
                            transition:  .3s;
                            z-index: -2;
                        }                       
                        &:hover::before {
                            width: 130px;                                          
                        }                 
                    }
                    .mid-4 {
                        color: white;
                        &::before {
                            content: '';
                            position: absolute;  
                            width: 0;                   
                            height: 4px;
                            left: 0;                         
                            bottom: -16px;
                            background: white;                                                  
                            transition: .3s;
                            z-index: -2;
                        }
                        
                        &:hover::before {
                            width: 95px;                                          
                        }                 
                    }
                }
            }
        }
        .header-end {
            align-items: center;
             ul {
                padding: 0;
                display: flex;               
                li {
                    list-style-type: none;
                    margin-left: 3px;
                    a {
                        position: relative;
                        text-decoration: none;  
                        font-size: 1.1em;
                        padding: 0 25px;
                        box-sizing: border-box;               
                        color: white;    
                        &::before {
                            content: '';
                            position: absolute;                       
                            height: 0;
                            top: -15px;
                            left: 0;
                            right: 0;                          
                            background: white;                                                
                            transition: height .2s;
                            z-index: -2;
                        }
                        &:hover {
                            color: var(--bg);
                        }
                        &:hover::before {
                             height: 55px;                                             
                        }                 
                    }
                }
            }
        }
    }
}

            



/*********************************************/

.hero {
    background: rgb(23, 23, 23);
    height: 60vh;
    margin-top: 3em;
    padding-bottom: 10em;
    .hero-content{
        display: flex;
        flex-direction: column;            
        align-items: center;
        box-sizing: border-box;
        padding-top: 10em;
        margin-left: 2em;       
        .opening {
            color: white;
            font-size: 20px;
            margin-bottom: 1.5em;
            animation: scroll-down .4s linear forwards;
            h1 {          
                font-size: 80px;   
                margin: 0;                    
            }
            p {
                width: 500px;
                margin: 0;
            }
        }
        .inputgmail {
            margin-right: 1.8em;
            opacity: 0;
            animation: scroll-down .4s linear .5s forwards;
            label {
                display: block;
                color: greenyellow;
                margin-bottom: .5em;
            }
            input {
                border: none;
                padding: .7em;
                font-size: 1.1em;
                width: 500px;
                border-radius: .2em;
                &:focus {
                    outline: none;
                }
            }
            button {
                padding: .7em;
                margin-left: .5em;
                font-size: 1em;
                font-weight: bold;
                font-family:'Noto Sans TC', sans-serif;
                border: none;
                border-radius: .2em;
                background: greenyellow;
                cursor: pointer;
                &:hover {
                    background: rgb(220, 247, 180);
                }
            }
        }
    }  
}

.hero-intro {
    background: var(--bg);
    margin: 0;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left mid right";      
    .left {
        grid-area: left;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            background: gray;
            color: white;
            width: 300px;
            padding: 3em;
            border-radius: 3em;
            box-shadow: 10px 10px 10px black;
            transition: .3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .mid {
        grid-area: mid;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            background: gray;
            color: white;
            width: 300px;
            padding: 3em;
            border-radius: 3em;
            box-shadow: 10px 10px 10px black;
            transition: .3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .right {
        grid-area: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            background: gray;
            color: white;
            width: 300px;
            padding: 3em;
            border-radius: 3em;
            box-shadow: 10px 10px 10px black;
            transition: .3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.footer {
    ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        li {
            list-style-type: none;
            img {
                width: 50px;
            }
        }
    }
}

@keyframes scroll-down {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
